 <!-- top-navbar -->
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="/">BRIAN HAN </a></h1>
      </li>
      <li class="toggle-topbar not-expanded"><a class="menu" href="#"><span>Menu</span></a></li> 
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        
        <li class="divider"></li>
        <li><%= link_to "About", "#" %></li>
        <li class="divider"></li>
        <li><%= link_to "Web", "#" %></li>
        <li class="divider"></li>
        <li><%= link_to "Video", "#" %></li>
        <li class="divider"></li>
        <li><%= link_to "Podcast", "#" %></li>
        <li class="divider"></li>
        <li><%= link_to "Resume", "#" %></li>
        <li class="divider"></li>
        <!-- 
        <li class="has-form">
          <input type="text">
        </li> -->


      </ul>
    </section>
  </nav>