 <!-- top-navbar -->
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="/">BRIAN HAN </a></h1>
      </li>
      <li class="toggle-topbar not-expanded"><a class="menu" href="#"><span>Menu</span></a></li> 
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        
        <li class="divider"></li>
        <li><%= link_to "About", "#", class: "navbutton-1" %></li>
        <li class="divider"></li>
        <li><%= link_to "Web", "#", class: "navbutton-2" %></li>
        <li class="divider"></li>
        <li><%= link_to "Video", "#", class: "navbutton-3" %></li>
        <li class="divider"></li>
        <li><%= link_to "Podcast", "#", class: "navbutton-4" %></li>
        <li class="divider"></li>
        <li><%= link_to "Resume", "#", class: "navbutton-5" %></li>
        <!-- <li class="divider"></li> -->
        <!-- 
        <li class="has-form">
          <input type="text">
        </li> -->


      </ul>
    </section>
  </nav>